################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BorderlessAddon/Release
/BorderlessAddon/Debug/BorderlessAddon.tlog
/BorderlessAddon/.vs/BorderlessAddon/v16
/.vs
